@{
    ViewBag.Title = "Escolhedor Almoço";
}

<div class="jumbotron">
    <h2>Escolhedor Almoço</h2>
</div>

<div class="row">
    <div>
        @if (TempData["sucessMessage"] != null)
        {
            <h3>
                @TempData["sucessMessage"]
            </h3>
        }
    </div>
</div>